<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tracker-Tracks</title>

    <!-- CSS only -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Arizonia&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Lemonada:wght@300&family=Open+Sans&family=Roboto&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap"
      rel="stylesheet"
    />

    <!-- Font awesome -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <!-- Linking stylesheet -->
    <link rel="stylesheet" href="/css/vis_specific.css" />
  </head>

  <body>
    <!-- Nav-bar -->
    <div class="nav-bar">
      <div class="nav-brand">Tracker</div>
      <ul class="nav-links">
        <li>
          <a href="/dashboard"
            ><i class="fa fa-home" aria-hidden="true"></i> Home</a
          >
        </li>
        <li>
          <a href="#">
            <i class="fa fa-line-chart"></i>
            Visualise</a
          >
        </li>
        <li>
          <a href="/logout">
            <i class="fa fa-sign-out"></i>
            Logout</a
          >
        </li>
      </ul>
    </div>

    <h3 class="main-head">Your track to visualise</h3>
    <h6 class="subheading">Your visuals</h6>

    <div class="container info">
      <h3>Track Name: <%= track.trackName%></h3>
      <h6>Category: <%=track.category%></h6>
      <h6>Target time: <%=track.goal%></h6>
      <h6>Comments: <%=track.comments%></h6>
      <p id="trackId"><%=track._id%></p>
    </div>

    <div class="chart-container">
      <h3>Data in bar graph:</h3>
      <div class="chart">
        <canvas id="myChart"></canvas>
      </div>
    </div>

    <div class="chart-container">
      <h3>Data in line graph:</h3>
      <div class="chart">
        <canvas id="hisChart"></canvas>
      </div>
    </div>

    <p class="copyright">Radd, Copyright &#169; 2020, All rights reserved</p>

    <!-- JS, Popper.js, and jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    <!-- chartjs -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <!-- dom file -->
    <script src="/dom_files/visualize.js"></script>
  </body>
</html>
